<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Auser" type="com.entity.Auser" />
		<typeAlias alias="User" type="com.entity.User" />
		<typeAlias alias="Notice" type="com.entity.Notice" />
		<typeAlias alias="Reginfo" type="com.entity.Reginfo" />
		<typeAlias alias="Room" type="com.entity.Room" />
		<typeAlias alias="Test" type="com.entity.Test" />
		<typeAlias alias="Testinfo" type="com.entity.Testinfo" />
		<typeAlias alias="TestinfoRoom"
			type="com.entity.TestinfoRoom" />
	</typeAliases>
	<mappers>
		<mapper resource="com/mybatis/AdminMapper.xml" />
		<mapper resource="com/mybatis/UserMapper.xml" />
		<mapper resource="com/mybatis/NoticeMapper.xml" />
		<mapper resource="com/mybatis/ReginfoMapper.xml" />
		<mapper resource="com/mybatis/RoomMapper.xml" />
		<mapper resource="com/mybatis/TestinfoMapper.xml" />
		<mapper resource="com/mybatis/TestinfoRoomMapper.xml" />
		<mapper resource="com/mybatis/TestMapper.xml" />
		<mapper resource="com/mybatis/UserMapper.xml" />
	</mappers>
</configuration>

