<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ReginfoDao">
	<select id="selectReginfoByKwargs" resultType="Reginfo"
		parameterType="Reginfo">
		select * from
		reginfotable,busertable,testinfoRoom,roomtable,testinfotable,testtable
		where reginfotable.user_id=busertable.user_id and
		reginfotable.testinfoRoom_id=testinfoRoom.testinfoRoom_id and
		testinfoRoom.room_id=roomtable.room_id and
		testinfoRoom.testinfo_id = testinfotable.testinfo_id and
		testinfotable.test_id = testtable.test_id and ""=""
		<if test="reginfo_id != null">
			and reginfo_id = #{reginfo_id}
		</if>
		<if test="testinfo_id != null">
			and testinfotable.testinfo_id = #{testinfo_id}
		</if>
		<if test="tname != null">
			and tname = #{tname}
		</if>
		<if test="uname != null">
			and uname = #{uname}
		</if>
		<if test="rname != null">
			and rname = #{rname}
		</if>
	</select>
	<delete id="deleteReginfoByReginfo_id" parameterType="Integer">
		delete from
		reginfotable where reginfo_id = #{reginfo_id}
	</delete>
	<select id="selectReginfoFuzzily" resultType="Reginfo"
		parameterType="Reginfo">
		select * from
		reginfotable,busertable,testinfoRoom,roomtable,testinfotable,testtable
		where reginfotable.user_id=busertable.user_id and
		reginfotable.testinfoRoom_id=testinfoRoom.testinfoRoom_id and
		testinfoRoom.room_id=roomtable.room_id and
		testinfoRoom.testinfo_id = testinfotable.testinfo_id and
		testinfotable.test_id = testtable.test_id and ""=""
		<if test="reginfo_id != null">
			and concat(reginfo_id) like concat('%',#{reginfo_id},'%')
		</if>
		<if test="tname != null">
			and concat(tname) like concat('%',#{tname},'%')
		</if>
		<if test="uname != null">
			and concat(uname) like concat('%',#{uname},'%')
		</if>
		<if test="rname != null">
			and concat(rname) like concat('%',#{rname},'%')
		</if>
	</select>
</mapper>