<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ReginfoDao">
	<select id="selectReginfoByKwargs" resultType="Reginfo"
		parameterType="Reginfo">
		select * from
		reginfotable,busertable,testinfoRoom,roomtable,testinfotable,testtable
		where reginfotable.user_id=busertable.user_id and
		reginfotable.testinfoRoom_id=testinfoRoom.testinfoRoom_id and
		testinfoRoom.room_id=roomtable.room_id and
		testinfoRoom.testinfo_id = testinfotable.testinfo_id and
		testinfotable.test_id = testtable.test_id and ""=""
		<if test="reginfo_id != null">
			and reginfo_id = #{reginfo_id}
		</if>
		<if test="user_id != null">
			and reginfotable.user_id = #{user_id}
		</if>
		<if test="testinfoRoom_id != null">
			and reginfotable.testinfoRoom_id = #{testinfoRoom_id}
		</if>
		<if test="ticketnum != null">
			and ticketnum = #{ticketnum}
		</if>
		<if test="status != null">
			and reginfotable.status = #{status}
		</if>
		<if test="submit_time != null">
			and reginfotable.submit_time = #{submit_time}
		</if>
		<if test="testinfo_id != null">
			and testinfotable.testinfo_id = #{testinfo_id}
		</if>
	</select>
	<insert id="addReginfo" parameterType="Reginfo">
		insert into reginfotable
		(reginfo_id,user_id,testinfoRoom_id,ticketnum,status,submit_time)
		values
		(null,#{user_id},#{testinfoRoom_id},#{ticketnum},#{status},now())
	</insert>
	<delete id="deleteReginfoByReginfo_id" parameterType="Integer">
		delete from
		reginfotable where reginfo_id = #{reginfo_id}
	</delete>
	<update id="updateReginfo" parameterType="Reginfo">
		update reginfotable
		<set>
			<if test="user_id != null">
				user_id = #{user_id},
			</if>
			<if test="testinfoRoom_id != null">
				testinfoRoom_id = #{testinfoRoom_id},
			</if>
			<if test="ticketnum != null">
				ticketnum = #{ticketnum},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
		</set>
		where reginfo_id = #{reginfo_id}
	</update>
	<select id="selectReginfoFuzzily" resultType="Reginfo"
		parameterType="Reginfo">
		select * from
		reginfotable,busertable,testinfoRoom,roomtable,testinfotable,testtable
		where reginfotable.user_id=busertable.user_id and
		reginfotable.testinfoRoom_id=testinfoRoom.testinfoRoom_id and
		testinfoRoom.room_id=roomtable.room_id and
		testinfoRoom.testinfo_id = testinfotable.testinfo_id and
		testinfotable.test_id = testtable.test_id and ""=""
		<if test="reginfo_id != null">
			and concat(reginfotable.reginfo_id) like concat('%',#{reginfo_id},'%')
		</if>
		<if test="user_id != null">
			and concat(busertable.user_id) like concat('%',#{user_id},'%')
		</if>
		<if test="testinfoRoom_id != null">
			and concat(testinfoRoom_id) like concat('%',#{testinfoRoom_id},'%')
		</if>
		<if test="ticketnum != null">
			and concat(ticketnum) like concat('%',#{ticketnum},'%')
		</if>
		<if test="status != null">
			and concat(reginfotable.status) like concat('%',#{status},'%')
		</if>
		<if test="submit_time != null">
			and concat(submit_time) like concat('%',#{submit_time},'%')
		</if>
		<if test="testinfo_id != null">
			and concat(testinfotable.testinfo_id) like concat('%',#{testinfo_id},'%')
		</if>
		<if test="tname != null">
			and concat(tname) like concat('%',#{tname},'%')
		</if>
		<if test="uname != null">
			and concat(uname) like concat('%',#{uname},'%')
		</if>
		<if test="rname != null">
			and concat(rname) like concat('%',#{rname},'%')
		</if>
	</select>
</mapper>