<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminTestinfoDao">
	<!-- 查询全部已发布考试 -->
	<select id="selectTestinfo" resultType="Testinfo" >
		select * from testinfotable, testtable where testinfotable.test_id = testtable.id
	</select>
	<!-- 模糊搜索已发布考试 -->
	<select id="searchTestinfo" resultType="Testinfo" parameterType="String">
		select * from testinfotable, testtable where concat(tname, tsubject, torganizer, test_time, regist_start_time, regist_end_time, tprice) like concat('%',#{keyWord},'%') and testinfotable.test_id = testtable.id
	</select>
	<!-- 发布一个考试 -->
	<insert id="addTestinfo" parameterType="Testinfo">
		insert into testinfotable (id,test_id,test_time,regist_start_time,regist_end_time,tprice) 
		values (null,#{test_id},#{test_time},#{regist_start_time},#{regist_end_time},#{tprice})
	</insert>
	<!-- 添加对应考试的考场 -->
	<insert id="addTestinfo__room" parameterType="Testinfo__Room">
		insert into testinfo__room (id,testinfo_id,room_id,rquota)
		values (null,#{testinfo_id},#{room_id},#{rquota})
	</insert>
	<!-- 删除一个已发布考试 -->
	<delete id="deleteTestinfoById" parameterType="Integer">
		delete from testinfotable where id = #{id}
	</delete>
	<!-- 通过id删除关联 -->
	<delete id="deleteTestinfo__RoomById" parameterType="Integer">
		delete from testinfo__room where id = #{id}
	</delete>
	<!-- 通过id查询一个已发布考试 -->
	<select id="selectATestinfoById" resultType="Testinfo" parameterType="Integer">
		select * from testinfotable where id = #{id}
	</select>
	<!-- 通过testinfo_id搜索关联 -->
	<select id="selectTestinfo__RoomByTestinfo_id" resultType="Testinfo__Room" parameterType="Integer">
		select * from testinfo__room, roomtable where testinfo_id = #{testinfo_id} and roomtable.id = testinfo__room.room_id
	</select>
	<!-- 通过test_id查询一个已发布考试 -->
	<select id="selectATestinfoByTest_id" resultType="Testinfo" parameterType="Integer">
		select * from testinfotable where test_id = #{test_id}
	</select>
	<!-- 修改一个已发布考试 -->
	<update id="updateTestinfo" parameterType="Testinfo">
	    update testinfotable
	    <set>
	      <if test="tname != null">
	        tname = #{tname},
	      </if>
	      <if test="tsubject != null">
	        tsubject = #{tsubject},
	      </if>
	      <if test="torganizer != null">
	        torganizer = #{torganizer},
	      </if>
	    </set>
    	where id = #{id}
  	</update>
	<!-- 修改一个考场名额 -->
	<update id="updateRoomQuota" parameterType="Room">
	    update testinfo__room
	    <set>
	      <if test="rquota != null">
	        rquota = #{rquota},
	      </if>
	    </set>
    	where id = #{id}
  	</update>
	<!-- 查询是否有学生已经报名此考场 -->
	<select id="selectAReginfoByRoom_id" resultType="Reginfo" parameterType="Integer">
		select * from reginfotable where room_id = #{room_id}
	</select>
	<!-- 查询该考试绑定的考场数量 -->
	<select id="selectTestinfo__RoomById" resultType="Testinfo" parameterType="Integer">
		select * from testinfo__room where id = #{id}
	</select>
</mapper>