<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminTestDao">
	<!-- 查询全部考试 -->
	<select id="selectTest" resultType="Test" >
		select * from testtable
	</select>
	<!-- 模糊搜索考试 -->
	<select id="searchTest" resultType="Test" parameterType="String">
		select * from testtable where concat(tname, tsubject, torganizer) like concat('%',#{keyWord},'%')
	</select>
	<!-- 发布一个考试 -->
	<insert id="addTest" parameterType="Test">
		insert into testtable (id,tname,tsubject,torganizer,status) 
		values (null,#{tname},#{tsubject},#{torganizer},0)
	</insert>
	<!-- 删除一个考试 -->
	<delete id="deleteTestById" parameterType="Integer">
		delete from testtable where id = #{id}
	</delete>
	<!-- 通过id查询一个考试 -->
	<select id="selectATestById" resultType="Test" parameterType="Integer">
		select * from testtable where id = #{id}
	</select>
	<!-- 通过tname查询一个考试 -->
	<select id="selectATestByTname" resultType="Test" parameterType="String">
		select * from testtable where tname = #{tname}
	</select>
	<!-- 通过tname和id查询一个考试 -->
	<select id="selectATestByTnameAndId" resultType="Test" parameterType="Test">
		select * from testtable where tname = #{tname} and id != #{id}
	</select>
	<!-- 修改一个考试 -->
	<update id="updateTest" parameterType="Test">
	    update testtable
	    <set>
	      <if test="tname != null">
	        tname = #{tname},
	      </if>
	      <if test="tsubject != null">
	        tsubject = #{tsubject},
	      </if>
	      <if test="torganizer != null">
	        torganizer = #{torganizer},
	      </if>
	      <if test="status != null">
	        status = #{status},
	      </if>
	    </set>
    	where id = #{id}
  	</update>
</mapper>