<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserReginfoDao">
	<!-- 查询全部已发布考试 -->
	<select id="userSelectTestinfo" resultType="Testinfo" >
		select * from testinfotable, testtable where testinfotable.test_id = testtable.test_id
	</select>
	<!-- 查看该考生是否已报名此考试 -->
	<select id="userSelectReginfoByTestinfo_id" resultType="Testinfo" parameterType="Integer">
		select * from reginfotable, testinfo__room where reginfotable.testinfo__room_id = testinfo__room.testinfo__room_id and testinfo_id = #{testinfo_id}
	</select>
	<!-- 查询该考试的考场 -->
	<select id="userSelectTestinfo__room" resultType="Testinfo__room" parameterType="Integer">
		select * from testinfo__room, roomtable, testinfotable, testtable where testinfo__room.room_id = roomtable.room_id and testinfo__room.testinfo_id = testinfotable.testinfo_id and testinfotable.test_id = testtable.test_id and testinfotable.testinfo_id = #{testinfo_id}
	</select>
	<!-- 考生提交一个准考证 -->
	<insert id="userAddReginfo" parameterType="Test">
		insert into reginfotable (reginfo_id,user_id,testinfo__room_id,ticketnum,status,submit_time) 
		values (null,#{user_id},#{testinfo__room_id},#{ticketnum},0,now())
	</insert>
	<!-- 通过testinfo_id查找一个考场关联表 -->
	<select id="userSelectATestinfo__roomByTestinfo__room_id" resultType="Testinfo__room" parameterType="Integer">
		select * from testinfo__room, roomtable, testinfotable, testtable where testinfo__room.room_id = roomtable.room_id and testinfo__room.testinfo_id = testinfotable.testinfo_id and testinfotable.test_id = testtable.test_id and testinfo__room.testinfo__room_id=#{testinfo__room_id}
	</select>
	<!-- 搜索是否有重复准考证 -->
	<select id="userSelectReginfoByTicketnum" resultType="Reginfo" parameterType="String">
		select * from reginfotable where ticketnum=#{ticketnum}
	</select>
	<!-- 搜索一个准考证 -->
	<select id="userSelectAReginfoByUser_idAndTestinfo_id" resultType="Reginfo" parameterType="Reginfo">
		select * from reginfotable, roomtable, testinfotable, testtable, testinfo__room where reginfotable.testinfo__room_id = testinfo__room.testinfo__room_id and testinfo__room.room_id = roomtable.room_id and testinfo__room.testinfo_id = testinfotable.testinfo_id and testinfotable.test_id = testtable.test_id and reginfotable.user_id = #{user_id} and testinfo__room.testinfo_id = #{testinfo_id}
	</select>
	<!-- 搜索一个准考证 -->
	<select id="userSelectAReginfoByReginfo_id" resultType="Reginfo" parameterType="Integer">
		select * from reginfotable, roomtable, testinfotable, testtable, testinfo__room where reginfotable.testinfo__room_id = testinfo__room.testinfo__room_id and testinfo__room.room_id = roomtable.room_id and testinfo__room.testinfo_id = testinfotable.testinfo_id and testinfotable.test_id = testtable.test_id and reginfotable.reginfo_id = #{reginfo_id}
	</select>
	<!-- 修改一个准考证 -->
	<update id="userUpdateReginfo" parameterType="Reginfo">
	    update reginfotable
	    <set>
	      <if test="user_id != null">
	        user_id = #{user_id},
	      </if>
	      <if test="testinfo__room_id != null">
	        testinfo__room_id = #{testinfo__room_id},
	      </if>
	      <if test="ticketnum != null">
	        ticketnum = #{ticketnum},
	      </if>
	      <if test="status != null">
	        status = #{status},
	      </if>
	    </set>
    	where reginfo_id = #{reginfo_id}
  	</update>
	<!-- 通过id删除报名信息 -->
	<delete id="userDeleteReginfoByReginfo_id" parameterType="Integer">
		delete from reginfotable where reginfo_id = #{reginfo_id}
	</delete>
	<!-- 查询全部已发布考试 -->
	<select id="userSelectReginfoByUser_id" resultType="Reginfo" >
		select * from reginfotable, roomtable, testinfotable, testtable, testinfo__room where reginfotable.testinfo__room_id = testinfo__room.testinfo__room_id and testinfo__room.room_id = roomtable.room_id and testinfo__room.testinfo_id = testinfotable.testinfo_id and testinfotable.test_id = testtable.test_id and reginfotable.user_id = #{user_id}
	</select>
</mapper>